<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <p class="h2"><%= link_to "Washosh", root_path %></p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <div class="float-right">
        <% if account_signed_in? %>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Welcome, 
            <%= current_account.full_name %>
          </a>
          <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
            <%= link_to 'Profile', profile_path(current_account.username), class: "dropdown-item"%>
            <%= link_to 'Settigns', edit_account_registration_path, class: "dropdown-item"%>
            <%= link_to 'Signout', destroy_account_session_path, method: :delete, class: "dropdown-item"%>
          </div>
        </div>
        <% else %>
        <%= link_to "Login", new_account_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Signup", new_account_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      </ul>
    </div>
  </div>
</nav>