<!DOCTYPE html>
<html>

<head>
  <title>Washosh</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render partial: "layouts/header"%>
  <!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
   <div class="card-body">
    <p class="notice text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>  
    <div style="height: auto;">
    <div class="row">
     <div class="col-sm-12 pt-4">
      <%= yield %>
      </div>
    </div>
      </div>
      <p class="lead pt-xl-5 text-center text-light">Made with love from MHM!</p>
    </div>
  </div>
</div>
  <%= render partial: "layouts/footer"%> 
</body>

</html>

